#inlineP{
	display: inline;

}
#menyliste{
	width: 500px;
	background-color: yellow;
}
#menyliste li{
    list-style-type:none;
    background-color: #00868B;
    color: #E5FAFB;
    width: 120px;
    margin: 3px;
    padding: 2px;
    text-align: center;
    border-radius: 10px; /* for å runde av hjørnene */
   	display: inline; /* for å få vannrett meny */
}
#hoyre{
	font-size: 20px;
	display: inline;
	width: 65%;
	float: right;
}